﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AKQA Tech Challenge</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Views/Home/main.css" rel="stylesheet" />
    <script src="~/Scripts/Views/Home/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="homepage-center-allign">
            <h2>
                AKQA TECH CHALLENGE
            </h2>
            <div class="title">
                Please enter name and number
            </div>
            <div class="row">
                <div class="input-group mb-3 input-group-width">
                    <input type="text" Id="input-nameandnumber" class="form-control" placeholder="please enter name and number">
                    <br><br>
                    <div>
                        <div id="name" class="result-name">
                        </div>
                        <div id="words" class="result-words">
                        </div>
                    </div>
                    <br>
                    <div class="input-group-append">
                        <button class="btn btn-success btn-submit" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/Views/Home/main.js"></script>
</body>
</html>