﻿.homepage-center-allign {
    padding-top:120px;
}
.input-group-width
{
    width:350px;
    padding-left:25px;
}
h2
{
    padding-bottom:25px;
}
.title {
    padding-left: 15px;
    padding-bottom: 15px;
}
.result-words{    
    padding-top:15px;
    width:500px;
}
